<a class="btn btn-sm btn-default {% if object.position >= admin.last_position %}disabled{% endif %}" href="{{ admin.generateObjectUrl('move', object, {'position': 'bottom'}) }}" title="Move bottom">↓↓</a>
<a class="btn btn-sm btn-default {% if object.position >= admin.last_position %}disabled{% endif %}" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="Move down">↓</a>
<a class="btn btn-sm btn-default {% if object.position <= admin.first_position %}disabled{% endif %}" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="Move up">↑</a>
<a class="btn btn-sm btn-default {% if object.position <= admin.first_position %}disabled{% endif %}" href="{{ admin.generateObjectUrl('move', object, {'position': 'top'}) }}" title="Move top">↑↑</a>

<span style="margin-left: 30px; float: left;display: inline-block;height: 30px;"></span>